apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
spec:
  serviceAccountName: prometheus
  externalUrl: https://prometheus.hydra.starsystem.dev
  serviceMonitorSelector: {}
  serviceMonitorNamespaceSelector: {}
  podMonitorSelector: {}
  podMonitorNamespaceSelector: {}
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 512Mi