kind: ConfigMap
apiVersion: v1
metadata:
  name: local-path-provisioner-config
data:
  config.json: |-
    {
      "nodePathMap":[
        {
          "node": "DEFAULT_PATH_FOR_NON_LISTED_NODES",
          "paths": ["/var/lib/local"]
        }
      ]
    }
  setup: |-
    #!/bin/sh
    set -eu
    mkdir -m 0777 -p "$VOL_DIR"
  teardown: |-
    #!/bin/sh
    set -eu
    rm -rf "$VOL_DIR"
  helperPod.yaml: |-
    apiVersion: v1
    kind: Pod
    metadata:
      name: local-path-provisioner-helper
      namespace: storage-system
      labels:
        app.kubernetes.io/name: local-path-provisioner
        app.kubernetes.io/component: helper
    spec:
      priorityClassName: system-node-critical
      tolerations:
        - key: node.kubernetes.io/disk-pressure
          operator: Exists
          effect: NoSchedule
      containers:
        - name: helper-pod
          image: busybox