apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: intranet-only
  labels:
    app.kubernetes.io/name: traefik
spec:
  ipAllowList:
    sourceRange:
      - 127.0.0.1/8    # Loopback network
      - 10.0.0.0/8     # Constellation network
      - 172.16.0.0/12  # Kubernetes network
      - 192.168.0.0/16 # Home network
      - 193.28.39.4/32 # Public IP