apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: sso
  labels:
    app.kubernetes.io/name: traefik
spec:
  forwardAuth:
    address: https://login.starsystem.dev/api/authz/forward-auth
    trustForwardHeader: true
    authResponseHeaders:
      - Remote-User
      - Remote-Groups
      - Remote-Email
      - Remote-Name